:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --border-size: 2px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-bg: rgb(245, 245, 245);
    --code-block-bg: color-mix(in srgb, var(--code-bg) 50%, transparent);
    --hljs-foreground: var(--primary);
    --hljs-comment: var(--secondary);
    --hljs-red: #eb3c54;
    --hljs-yellow: #e7ce56;
    --hljs-orange: #ee7c2b;
    --hljs-blue: #4fb4d7;
    --hljs-green: #78bb65;
    --hljs-magenta: #b45ea4;
    --border-color: rgb(238, 238, 238);
    --border: var(--border-size) solid var(--border-color);
    --link: #0b82b9;
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-bg: rgb(55, 56, 62);
    --code-block-bg: color-mix(in srgb, var(--code-bg) 50%, transparent);
    --hljs-foreground: var(--primary);
    --hljs-comment: var(--secondary);
    --hljs-red: #eb3c54;
    --hljs-yellow: #e7ce56;
    --hljs-orange: #ee7c2b;
    --hljs-blue: #4fb4d7;
    --hljs-green: #78bb65;
    --hljs-magenta: #b45ea4;
    --border-color: rgb(51, 51, 51);
    --border: var(--border-size) solid var(--border-color);
    --link: #18bdec;
}

.list {
    background: var(--code-block-bg);
}

.dark.list {
    background: var(--theme);
}

p {
    font-family: "Fira Sans";
  }
  code {
    font-family: "Fira Mono";
  }