{{- $opts := dict "target" "es2018" "external" (slice) }}
{{- $bundle := resources.Get "js/vanta-init.js" | js.Build $opts | minify }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.birds.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.waves.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.fog.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.net.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{- if not .Site.Params.assets.disableFingerprinting }}
  {{- $bundle = $bundle | fingerprint }}
  <script defer src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}"></script>
{{- else }}
  <script defer src="{{ $bundle.RelPermalink }}"></script>
{{- end }}