/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/
body#top {
    background-color: var(--theme);
    position: relative;
    z-index: 0;
}

button#change-animation {
    font-size: 26px;
    margin: auto 4px;
    color: inherit;
    transition: transform 0.1s ease-in-out;
}

#change-animation svg {
    height: 18px;
}

button#change-animation.is-rotating {
    transform: rotate(360deg);
}