:root {
  --page-transition-duration: 5ms;
  --page-transition-easing: ease;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --page-transition-duration: 0ms;
  }

  html.page-transition body {
    opacity: 1;
  }
}

html.page-transition body {
  opacity: 0;
}

html.page-transition.page-transition-ready body {
  opacity: 1;
  transition: opacity var(--page-transition-duration) var(--page-transition-easing);
}

html.page-transition.page-transition-exit body {
  opacity: 0;
}

html.page-transition-disabled body {
  opacity: 1;
  transition: none !important;
}
