{{- $opts := dict "target" "es2018" "external" (slice) -}}
{{- $coffeeBundle := resources.Get "js/coffee-module.js" | js.Build $opts | minify -}}
{{- $weatherBundle := resources.Get "js/weather-module.js" | js.Build $opts | minify -}}
{{- $navModulesBundle := resources.Get "js/nav-modules.js" | js.Build $opts | minify -}}
{{- $githubBundle := resources.Get "js/github-module.js" | js.Build $opts | minify -}}
{{- $vantaBundle := resources.Get "js/vanta-init.js" | js.Build $opts | minify -}}
<script id="threejs" data-turbo-permanent src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.birds.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.waves.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.fog.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.net.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.cells.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.rings.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.halo.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{- if not .Site.Params.assets.disableFingerprinting -}}
  {{- $coffeeBundle = $coffeeBundle | fingerprint -}}
  {{- $weatherBundle = $weatherBundle | fingerprint -}}
  {{- $navModulesBundle = $navModulesBundle | fingerprint -}}
  {{- $githubBundle = $githubBundle | fingerprint -}}
  {{- $vantaBundle = $vantaBundle | fingerprint -}}
  <script defer src="{{ $coffeeBundle.RelPermalink }}" integrity="{{ $coffeeBundle.Data.Integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ $weatherBundle.RelPermalink }}" integrity="{{ $weatherBundle.Data.Integrity }}" crossorigin="anonymous"></script>
    <script defer src="{{ $githubBundle.RelPermalink }}" integrity="{{ $githubBundle.Data.Integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ $navModulesBundle.RelPermalink }}" integrity="{{ $navModulesBundle.Data.Integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ $vantaBundle.RelPermalink }}" integrity="{{ $vantaBundle.Data.Integrity }}" crossorigin="anonymous"></script>
{{- else -}}
  <script defer src="{{ $coffeeBundle.RelPermalink }}" crossorigin="anonymous"></script>
  <script defer src="{{ $weatherBundle.RelPermalink }}" crossorigin="anonymous"></script>
  <script defer src="{{ $githubBundle.RelPermalink }}" crossorigin="anonymous"></script>
  <script defer src="{{ $navModulesBundle.RelPermalink }}" crossorigin="anonymous"></script>
  <script defer src="{{ $vantaBundle.RelPermalink }}" crossorigin="anonymous"></script>
{{- end -}}
