.archive-posts {
    width: 100%;
    font-size: 16px;
}

.archive-year {
    margin-top: 40px;
}

.archive-year:not(:last-of-type) {
    border-bottom: var(--border);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

.archive-month:not(:last-of-type) {
    border-bottom: var(--border);
}

.archive-entry {
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    background: var(--code-block-bg);
    border-radius: var(--radius);
    border: var(--border);
    transition: transform 0.1s;
    color: var(--content);
    opacity: 1;
    margin: 10px;
}

.archive-entry:active {
    background: var(--tertiary);
    transform: scale(0.96);
}

.archive-entry-title {
    margin: 5px 0;
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}
