.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    background-color: var(--background);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
    width: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px auto 8px;
}

#center,
#mask-rays,
#mask-center {
    transform-origin: center;
    transition: transform 250ms ease-out;
}

#center {
    fill: currentColor;
    transform: rotate(-35deg);
}

#rays {
    stroke: currentColor;
    stroke-width: 2px;
}

body.dark #center {
    transform: rotate(-35deg) scale(2);
}

body.dark #mask-rays {
    transform: scale(0.5);
}

body.dark #mask-center {
    transform: translateX(-18px);
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
