.terms-tags li {
    display: inline-block;
    margin: 10px;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--code-block-bg);
    border-radius: var(--radius);
    border: var(--border);
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}

.terms-tags a:hover,
.terms-tags a:focus-visible {
    border-color: var(--nav-module-hover-border);
    background-color: var(--nav-module-hover-bg);
    outline: none;
}
